
<!DOCTYPE html> 
<html>

<head>
	<title>Scrapbook</title> 
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
 	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<%= stylesheet_link_tag "jquery.mobile-1.2.0" %>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "trip_style" %>
	
	<%= javascript_include_tag "jquery-1.8.2.min.js" %>
    <%= javascript_include_tag "jquery.mobile-1.2.0.js" %>

</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<a href="/trip/new_trip" class="ui-btn-left">Back</a>
		<h1>Scrapbook</h1>


	</div><!-- /header -->
	<%= flash[:notice] %>

	<%= form_for :content, :html=>{:name=>"myForm", :multipart=>true, "data-ajax" => "false"}, :url => {:action => :post_add} do |form| %>
	<input type="hidden" name="trip_id" value=<%=@trip_id %> >

	<%= form.text_field :milestone_index, :type=>"hidden", :value=>@milestone_index, :id=>"image_upload_milestone" %>
	<%= form.text_field :content_type, :type=>"hidden", :value=>"text", :id=>"upload_content_type" %>

	<%= form.text_area :blog, :id=>"blog_post" %>
	<%= form.submit "Submit Post", :id=>"submit_button", "data-ajax"=>"false" %>

	<%end%>

			
	</div><!-- /content -->

</div><!-- /page -->

</body>
</html>