
<!DOCTYPE html> 
<html>

<head>
	<title>Scrapbook</title> 
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
 	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<%= stylesheet_link_tag "jquery.mobile-1.2.0" %>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "trip_style" %>
	
	<%= javascript_include_tag "jquery-1.8.2.min.js" %>
    <%= javascript_include_tag "jquery.mobile-1.2.0.js" %>

</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<a href="/user/home/1" class="ui-btn-left">Back</a>
		<h1>Scrapbook</h1>


	</div><!-- /header -->

	<div data-role="content" id="page_test" onclick="hideEditFooter()">
		<% i = 0 %>
<% for content in @all_content %>
	<% klass = "" %>
	<% index = i % 3 %>
	<% puts index %>
	<% case index %>
	<% when 0 %>
		<h2 class="days"> Day <%=(i/3) + 1%> </h2>
		<% klass = "cover" %>
	<% when 1 %>
		<div class="wrapper">
		<% klass = "side_left" %>
	<% when 2 %>
		<% klass = "side_right" %>

	<% end %>

	<% if content.content_type == "image" %>
		<%= render :partial => "image", :locals => {:content => content.value, :frame => klass, :width => content.width, :height => content.height} %>
	<% end %>


	<% if content.content_type == "text" %>

		<%= render :partial => "text", :locals => {:content => content.value, :frame => klass} %>

	<% end %>

	<% if index == 2 %>
		</div>
	<%end%>

	<% i+=1 %>
<% end %>

<script>

	var bypass = false;
	
	function showEditFooter() {
	
	  footer = document.getElementById("footer");
	  if (footer.style.visibility == "hidden" || footer.style.visibility == "") {
		  footer.style.visibility = "visible";
		  bypass = true;
	  } 
	}
	
	function hideEditFooter() {
	 
	  footer = document.getElementById("footer");
	  if (footer.style.visibility == "visible" && bypass == false) {
		  footer.style.visibility = "hidden";
	  }
	  bypass = false;
	}
 
</script>

<div class="placeholder" onclick="showEditFooter()">
	<h3>Tap to add more</h3>
</div>

<%= render :partial => "text", :locals => {:content => "<h2>sdf</h2>There are other problems. The social stealth element of Assassin's Creed was stretched thin in Assassin's Creed: Revelations, but it's almost at its breaking point in Assassin's Creed 3. Being able to blend into crowds doesn't cut it anymore — it's too easy to get caught — and the addition of brush to blend into barely makes up the difference. This is especially problematic during mobile eavesdropping missions, where not keeping up or being spotted will result in automatic failure. But it also makes pulling off perfect assassinations exercises in trial and error.There are other problems. The social stealth element of Assassin's Creed was stretched thin in Assassin's Creed: Revelations, but it's almost at its breaking point in Assassin's Creed 3. Being able to blend into crowds doesn't cut it anymore — it's too easy to get caught — and the addition of brush to blend into barely makes up the difference. This is especially problematic during mobile eavesdropping missions, where not keeping up or being spotted will result in automatic failure. But it also makes pulling off perfect assassinations exercises in trial and error.There are other probl

These are small sections of Assassin's Creed 3 comparatively speaking, but they are a thumb in the eye of what might be the most ambitious Assassin's game. It's so disappointing because everything else is so good.", :frame => "side_left"} %>

<%= render :partial => "video", :locals => {:content => "http://www.youtube.com/embed/_ovdm2yX4MA", :width => 600, :height => 400} %>	
		
	</div><!-- /content -->
	<div id="footer">
	<div data-role="footer" data-id="samebar" class="nav-glyphish-example" data-position="fixed" data-tap-toggle="false">
		<div data-role="navbar" class="nav-glyphish-example" data-grid="c">
		<ul>
			<li><a href="/trip/add" id="home" data-icon="custom" class="ui-btn-active">Text</a></li>
			<li><a href="/trip/add_image" id="key" data-icon="custom">Photo</a></li>
			<li><a href="/trip/add_video" id="beer" data-icon="custom" >Video</a></li>
			<li><a href="/trip/add_audio" id="skull" data-icon="custom">Audio</a></li>

		</ul>
		</div>
	</div>
	</div>
</div><!-- /page -->

</body>
</html>