
<!DOCTYPE html> 
<html>

<head>
	<title><%= @trip.name %></title> 
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
 	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<%= stylesheet_link_tag "jquery.mobile-1.2.0" %>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "trip_style" %>
	
	<%= javascript_include_tag "jquery-1.8.2.min.js" %>
    <%= javascript_include_tag "jquery.mobile-1.2.0.js" %>

</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<a href="/user/home/1" class="ui-btn-left">Back</a>
		<h1><%= @trip.name %></h1>


	</div><!-- /header -->

	<div data-role="content" id="page_test" onclick="hideEditFooter()">
	<% lastMilestoneIndex = 0 %>
		<% i = 0 %>
<% for content in @all_content %>
	<% if content.milestone_index != lastMilestoneIndex %>
		<div class="placeholder" onclick="showEditFooter(<%= lastMilestoneIndex %>)">
			<h3>Tap to add more</h3>
		</div>
		<% lastMilestoneIndex += 1 %>
	<% end %>

	<% if content.content_type == "milestone" %>
		<% firstItem = false %>
		<h2 class="days"><%= content.value %> </h2>
		<% i = 0 %>
		<% next %> 
	<% end %>

	<% klass = "" %>
	<% index = i % 3 %>
	<% puts index %>
	<% case index %>
	<% when 0 %>
		<% klass = "cover" %>
	<% when 1 %>
		<div class="wrapper">
		<% klass = "side_left" %>
	<% when 2 %>
		<% klass = "side_right" %>

	<% end %>

	<% if content.content_type == "image" %>
		<%= render :partial => "image", :locals => {:content => content.value, :frame => klass, :width => content.width, :height => content.height} %>
	<% end %>


	<% if content.content_type == "text" %>

		<%= render :partial => "text", :locals => {:content => content.value, :frame => klass} %>

	<% end %>

	<% if index == 2 %>
		</div>
	<%end%>

	<% i+=1 %>
<% end %>
<div class="placeholder" onclick="showEditFooter(<%= lastMilestoneIndex %>)">
	<h3>Tap to add more</h3>
</div>

</div><!-- /content -->

<script>

var uploadMilestoneIndex = 0;

function submitForm(obj, content_type){
	field = document.getElementById("image_upload_milestone");
	field.value = uploadMilestoneIndex;

	field = document.getElementById("upload_content_type");
	field.value = content_type;

	document.myForm.submit();
    event.preventDefault();
}

function getImageFile(){
	console.log("Getting an image")
   document.getElementById("upfile_image").click();
 }

function getVideoFile(){
	console.log("Getting a video")

   document.getElementById("upfile_video").click();
 }

	var bypass = false;
	
	function showEditFooter(milestoneIndex) {
		uploadMilestoneIndex = milestoneIndex;
		console.log(milestoneIndex);
	  footer = document.getElementById("footer");
	  if (footer.style.visibility == "hidden" || footer.style.visibility == "") {
		  footer.style.visibility = "visible";
		  bypass = true;
	  } 
	}
	
	function hideEditFooter() {
	 
	  footer = document.getElementById("footer");
	  if (footer.style.visibility == "visible" && bypass == false) {
		  footer.style.visibility = "hidden";
	  }
	  bypass = false;
	}
 
</script>

	<div id="footer">

	<div data-role="footer" data-id="samebar" class="nav-glyphish-example" data-position="fixed" data-tap-toggle="false">
		<div data-role="navbar" class="nav-glyphish-example" data-grid="c">
			<%= form_for :content, :html=>{:name=>"myForm", :multipart=>true, "data-ajax" => "false"}, :url => {:action => :post_add} do |form| %>

		<ul>

			<li><a href="#" id="home" data-icon="custom"  onclick="getImageFile()">Photo</a>
				<div style='height: 0px;width: 0px; overflow:hidden;'>

					<input type="number" name="trip_id" value=<%=@trip.id%>>

				</div>
				<div style='height: 0px;width: 0px; overflow:hidden;'>

					<%= form.file_field :image, :accepts=>"image/*", :id=>"upfile_image", :onchange=>"submitForm(this, \"image\")" %>
					<%= form.text_field :milestone_index, :id=>"image_upload_milestone" %>
					<%= form.text_field :content_type, :id=>"upload_content_type" %>

					<%= form.file_field :video, :accepts=>"video/*", :id=>"upfile_video", :onchange=>"submitForm(this, \"video\")" %>

					<!--<input id="upfile_image" type="file" value="upload" accept="image/*" capture="camera" onchange="sub(this)"/>-->

				</div>
			</li>
			<li><a href="#" id="key" data-icon="custom" onclick="getVideoFile()">Video</a>
				<div style='height: 0px;width: 0px; overflow:hidden;'><input id="upfile_video" type="file" value="upload" accept="video/*" capture="camcorder" onchange="sub(this)"/></div>
			</li>
			<li><a href="#" id="beer" data-icon="custom" >Text</a></li>
			<li><a href="#" id="skull" data-icon="custom">More</a></li>

		</ul>
		<% end %>
		</div>
	</div>

</div>
	

</div><!-- /page -->

</body>
</html>