
<!DOCTYPE html> 
<html>

<head>
	<title><%= @trip.name %></title> 
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
 	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

	<%= stylesheet_link_tag "jquery.mobile-1.2.0" %>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "trip_style" %>
	
	<%= javascript_include_tag "jquery-1.8.2.min.js" %>
    <%= javascript_include_tag "jquery.mobile-1.2.0.js" %>


  	<%= javascript_include_tag 'http://cdn.pandastream.com/u/1.4/jquery.panda-uploader.min.js' %>

</head> 
<body> 

<div data-role="page">

	<div data-role="header" data-position="fixed">
		<a href="/user/home/1" class="ui-btn-left" data-ajax="false">Back</a>
		<h1><%= @trip.name %></h1>
		<% if params[:edit] == "true" %>
		<a href="/trip/layout/<%= params[:id] %>" class="ui-btn-right" data-theme="b" data-ajax="false">Done</a>
		<% else %>
		<a href="?edit=true" class="ui-btn-right" data-theme="b" data-ajax="false">Edit Trip</a>
		<% end %>


	</div><!-- /header -->

	<div data-role="content" id="page_test" onclick="hideEditFooter()">


		<a style="display:none" href="#popupBasic" data-rel="popup" data-overlay-theme="a" data-theme="c" data-shadow="true" data-iconshadow="true" data-position-to="window" id="popup">Open Popup</a>

		<div data-role="popup" id="popupBasic">
  			<p>Please wait while we upload your video...<p>
  			<%= image_tag "loading.gif", :width=>20 %>
		</div>


	<% lastMilestoneIndex = 0 %>
		<% i = 0 %>
<% for content in @all_content %>
	<% if params[:edit] == "true" && content.milestone_index != lastMilestoneIndex %>
		<div class="newContentWrapper">
			<div class="placeholder" onclick="showEditFooter(<%= lastMilestoneIndex %>)">
				<h3>Tap to add more</h3>
			</div>
			<div class="milestoneButton" onclick="addNewMilestone(<%= lastMilestoneIndex %>)">
				<h3>Add Milestone</h3>
			</div>
		</div>
		<% if content.milestone_index != nil
		 lastMilestoneIndex = content.milestone_index
		 end %>
	<% end %>

	<% if content.content_type == "milestone" %>
		<% firstItem = false %>
		<% if params[:edit] == "true" %>
		<h2 class="days" id="milestone_id_<%= content.id %>"><%= content.value %><a class="editMilestoneTitle" onclick = "EditMilestoneTitle(<%= content.id %>)">edit </a> </h2>
		<% else %>
		<h2 class="days"><%= content.value %></h2>
		<% end %>
		<% i = 0 %>
		<% next %> 
	<% end %>

	<% klass = "" %>
	<% index = i % 3 %>

	<% case index %>
	<% when 0 %>
		<% klass = "cover" %>
	<% when 1 %>
		<div class="wrapper">
		<% klass = "side_left" %>
	<% when 2 %>
		<% klass = "side_right" %>

	<% end %>

	<% if content.content_type == "image" %>
		<%= render :partial => "image", :locals => {:content => content.value, :frame => klass, :width => content.width, :height => content.height} %>
	<% end %>


	<% if content.content_type == "text" %>

		<%= render :partial => "text", :locals => {:headline => content.other, :content => content.value, :frame => klass} %>

	<% end %>


	<% if content.content_type == "video" %>

		<% original_video = content.panda_video %>
	    <% h264_encoding = original_video.encodings["h264"] %>
	    	
		<%= render :partial => "video", :locals => {:h264_encoding => h264_encoding, :frame => klass, :url=>content.other} %>

	<% end %>

	<% if content.content_type == "map" %>

		<% coords = content.value.split("|"); %>

		<%= render :partial => "map", :locals => {:lat=>coords[0], :lng => coords[1], :frame => klass} %> 
	<% end %>

	
	<% if index == 2 %>
		</div>
	<%end%>

	<% i+=1 %>
<% end %>

<% if params[:edit] == "true" %>
	<div class="newContentWrapper">
		<div class="placeholder" onclick="showEditFooter(<%= lastMilestoneIndex %>)">
			<h3>Tap to add more</h3>
		</div>
		<div class="milestoneButton" onclick="addNewMilestone(<%= lastMilestoneIndex %>)">
			<h3>Add Milestone</h3>
		</div>
	</div>
<% end %>

</div><!-- /content -->

<script>

var uploadMilestoneIndex = 0;

function submitForm(obj, content_type){
	field = document.getElementById("image_upload_milestone");
	field.value = uploadMilestoneIndex;

	field = document.getElementById("upload_content_type");
	field.value = "image";

	document.myForm.submit();
    event.preventDefault();
}

function submitVideo(obj){

	console.log("submit video here");
	field = document.getElementById("image_upload_milestone");
	field.value = uploadMilestoneIndex;
	field = document.getElementById("upload_content_type");
	field.value = "video";
	sub = document.getElementById("submit_button");
	sub.click();
	document.getElementById("popup").click();
	//document.myForm.submit();
//	event.preventDefault();
}

function getImageFile(){
	console.log("Getting an image")
	
	
   document.getElementById("upfile_image").click();
 }

function getVideoFile(){
	console.log("Getting a video")
	e = document.getElementById("upfile_video");
	console.log(e);

   document.getElementById("upfile_video").click();
 }
 
//  function addNewMilestone(lastMilestoneIndex) {
// 	 window.location = "/trip/add_milestone?trip_id=" + <%=@trip.id%> + "&lastMilestone=" + lastMilestoneIndex;
//  }

// var bypass = false;

function showEditFooter(milestoneIndex) {
	uploadMilestoneIndex = milestoneIndex;
	add_text_link = document.getElementById("text");

	var base = "/trip/add?trip_id=" + <%=@trip.id%>;

	add_text_link.href = base + "&index=" + uploadMilestoneIndex; 

	footer = document.getElementById("footer");
	if (footer.style.visibility == "hidden" || footer.style.visibility == "") {
		footer.style.visibility = "visible";
		bypass = true;
	} 
}
	
	function hideEditFooter() {

	 	
	  footer = document.getElementById("footer");
	  if (footer.style.visibility == "visible" && bypass == false) {
		  footer.style.visibility = "hidden";
	  }
	  bypass = false;
	}
	
	var editingMilestoneID;
	var storedInnerHTML;
	
	function ChangeMilestoneTitle(event) {
		console.log("in change milestone");
		console.log(event.keyCode);

		if (event.keyCode == 13) {
			field = document.getElementById("milestoneEditor");
			newTitle = field.value;
			milestone = document.getElementById("milestone_id_" + editingMilestoneID);
			oldTitle = milestone.innerHTML.split('<');
			temp = newTitle + '<' + oldTitle[1];
			milestone.innerHTML = temp;
			field.parentNode.removeChild(field);
		}
	}
	
	
	function EditMilestoneTitle(milestoneID) {
		console.log("milestone id: " + milestoneID);
		editingMilestoneID = milestoneID;
		milestone = document.getElementById("milestone_id_" + milestoneID);
		storedInnerHTML = milestone.innerHTML;
		currentTitle = milestone.innerHTML.split('<');
		console.log("current: " + currentTitle);
		editField = document.createElement("input");
		editField.type = 'text';
		editField.id = 'milestoneEditor';
		editField.value = currentTitle[0];
		editField.onkeypress = ChangeMilestoneTitle(event);
		editField.style = 'height: 20px; width: 250px; position:relative; top: -5px;';
		milestone.innerHTML = "";
		milestone.appendChild(editField);
	}
	
</script>

	<div style="visibility: hidden;" onload="hideEditFooter()">


	<div id="footer" data-role="footer" data-id="samebar" class="nav-glyphish-example" data-position="fixed" data-tap-toggle="false">
		<div data-role="navbar" class="nav-glyphish-example" data-grid="c">
			<%= form_for :content, :html=>{:name=>"myForm", :multipart=>true, "data-ajax" => "false"}, :url => {:action => :post_add} do |form| %>
			
		<ul>

			<li><a href="#" id="photo" data-icon="custom"  onclick="getImageFile()">Photo</a>
				<div style='height: 0px;width: 0px; overflow:hidden;'>

					<input type="number" name="trip_id" value=<%=@trip.id%>>

				</div>
				
				<div style='height: 0px;width: 0px; overflow:hidden;'>

					<%= form.file_field :image, :accepts=>"image/*", :id=>"upfile_image", :onchange=>"submitForm(this, \"image\")" %>
					<%= form.text_field :milestone_index, :id=>"image_upload_milestone" %>
					<%= form.text_field :content_type, :id=>"upload_content_type" %>

					<input type="hidden" name="video[panda_video_id]" id="returned_video_id" />

					
					
					<!--<input id="upfile_image" type="file" value="upload" accept="image/*" capture="camera" onchange="sub(this)"/>-->
					<script>

					  <% auth_params = Panda.signed_params('post', "/videos.json") %>
					  jQuery("#returned_video_id").pandaUploader(<%=raw auth_params.to_json %>, {
					    // Uncomment the line below if your panda account is in the EU
					    // api_host: 'api-eu.pandastream.com',
					     upload_progress_id: 'upload_progress'
					  });

					  hidden = document.getElementById("returned_video_id");

					  input = hidden.nextSibling;
					  input.setAttribute("id", "upfile_video");
					  input.setAttribute("onchange", "submitVideo(this)");

					</script>

					<%= form.submit "Upload video", :id=>"submit_button", "data-ajax"=>"false" %>

				</div>
				
			</li>

			<li><a href="#" id="key" data-icon="custom" onclick="getVideoFile()">Video</a>
				<div style='height: 0px;width: 0px; overflow:hidden;'></div>

			</li>
			<li><a href="/trip/add?trip_id=1" id="text" data-icon="custom" data-ajax="false" >Text</a></li>
			<li><a href="#" id="more" data-icon="custom" data-ajax="false">More</a></li>
		</ul>
		 
		<% end %>
		</div>
	</div>

</div>


	

</div><!-- /page -->

</body>
</html>