
<!DOCTYPE html> 
<html>

<head>
	<title>tripselektor</title> 
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
 	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<%= stylesheet_link_tag "jquery.mobile-1.2.0" %>
	<%= stylesheet_link_tag "slides" %>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "popover" %>

    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <%= javascript_include_tag "jquery-1.8.2.min.js" %>
    <%= javascript_include_tag "jquery.mobile-1.2.0.js" %>
    <%= javascript_include_tag "popover.js" %>
    

    <%= javascript_include_tag "slides.min.jquery.js" %>
	

</head> 
<body> 


<script>
	current_slide = 1;

	function getImageFile(){
		console.log("Getting an image");
		document.getElementById("upfile_image").click();
 	}
 	function submitForm(){
 		document.myForm.submit();
 	}
</script>

<div data-role="page">

	<div data-role="header" id="header">
		<a href="/user/settings" class="ui-btn-left" data-ajax="false">Settings</a>
		<h1>tripselektor</h1>
		<a href="/trip/new_trip" class="ui-btn-right" data-theme="b" data-ajax="false">New Trip</a>
	</div><!-- /header -->

	<div data-role="content">


	<script>
	 function changeSlides(play){
		$(function(){
			console.log("hello")
			$('#products').slides({
				preload: true,
				preloadImage: '/images/loading.gif',
				pause: 1,
				hoverPause: true,
				effect: 'slide, fade',
				crossfade: true,
				slideSpeed: 750,
				fadeSpeed: 1000,
				generateNextPrev: true,
				generatePagination: false,
				autoHeight: true,

				animationStart: function(current){
					$('.caption').animate({
						bottom:-35
					},100);
					if (window.console && console.log) {
						// example return of current slide number

						console.log('animationStart on slide: ', current);

					};
				},
				animationComplete: function(current){
					$('.caption').animate({
						bottom:0
					},200);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationComplete on slide: ', current);
						current_slide = current;

					};
				},
				slidesLoaded: function() {
					$('.caption').animate({
						bottom:0
					},200);
				}
			});
		});
}
	</script>



			<% if @trips.length > 0 %>
				<a href="#popupBasic" data-rel="popup" onclick="stopSlides()" style="float:right;"><%= image_tag "settings1.png", :width=>30, :height=>30 %></a>

			<% end %>
			<div data-role="popup" id="popupBasic">
				<h3 class="pop_link"> <a data-ajax="false" id="rename_link" href="#" onclick="editTripName()">Rename</a> </h3>
    
			  	<h3 class="pop_link"><%= form_for :content, :html=>{:name=>"myForm", :multipart=>true, "data-ajax" => "false"}, :url => {:action => :change_cover} do |form| %>
			  	 <a data-ajax="false" id="change_cover_link" href="#" onclick="getImageFile()">Change Cover Photo</a> 

			  	<div style='height: 0px;width: 0px; overflow:hidden; visibility:hidden'>
			  		<%= form.text_field :trip_id, :id=>"cover_trip_id" %>
			  		<%= form.file_field :image, :accepts=>"image/*", :id=>"upfile_image", :onchange=>"submitForm(this, \"image\")" %>

			  	</div>

			  	<% end %></h3>
  	
  					<h3 class="pop_link"> <a data-ajax="false" id="delete_link" href="#">Delete Trip</a> </h3>
			</div>


			<!-- <a id="my-button" onclick="stopSlides()">Edit Trip</a> -->

			<div id="products">
				<!--<a href="#" class="delete">D</a>-->
				<div class="slides_container" data-ajax="false">
					<% i = 1 %>
					<% if @trips.length > 0 %>
						<% for trip in @trips %>
							<div id=<%= "slide"+ i.to_s %> class="slide" trip-id=<%=trip.id %> >
								<% link = "/trip/layout/" + trip.id.to_s %>
								<a data-ajax="false" href=<%=link%>> 
									<div style="width: 300px; height:290px; background-size:100%; background-repeat:no-repeat; background-image:url(/assets/<%=trip.cover_photo%>)"> 
										<div id=<%="page_title"+trip.id.to_s%> class="page_title"><%=trip.name%></div>
									</div>
								</a>
								<!-- <a data-ajax="false" href=<%=link%>> <%= image_tag trip.cover_photo, :alt=>trip.name, :width=>366 %></a> -->
								<!-- <div class="caption" style="bottom:0">
									<p id="caption_<%= trip.id.to_s %>"><%= trip.name %> </p>
								</div> -->
							</div>
							<% i += 1 %>	
						<% end %>
					<% else %>

						<div class="slide">
							<h3> Your new trips will appear here in a slide show! </h3>
						</div>

						<div class="slide">
							<h3> Click on 'New Trip' in top right to create a new trip! </h3>
						</div>

					<% end %>

				</div>

				<ul class="pagination">
					<% for trip in @trips %>
					<li><a href="#" onClick="updateCurrent(<%=trip.id%>)"><div style="width: 130px; height:85px; background-size:100%; background-repeat:no-repeat; background-image: url(/assets/<%=trip.cover_photo%>)"><div id=<%="page_title"+trip.id.to_s%> class="page_title"><%=trip.name%></div></div></a></li>
					
					<% end %>
				</ul>
			</div>

	</div><!-- /content -->
</div><!-- /page -->
<script>

    

var currentTripID = 0;
var editModeActive = false;

function updateCurrent(trip_id){
	currentTripID = trip_id;
	console.log("current " + currentTripID);
}

function ChangeTripTitleWrapper(evt) {
	if (event.keyCode == 13) {
			ChangeTripTitle();
	}
}


function restoreRenameToPopover() {
	editModeActive = false;
	
	container = document.getElementById("rename_link");
	container.innerHTML = "Rename";
}


function ChangeTripTitle() {
	editModeActive = false;
	
	field = document.getElementById("renameField");
	newTitle = field.value;
	console.log("in change trip");
	container = document.getElementById("rename_link");
	console.log(container);
	container.innerHTML = "Rename";
	
	captionID = currentTripID;
	captionIDString = "caption_" + captionID;
	caption = document.getElementById(captionIDString);
	console.log(caption);
	caption.innerHTML = newTitle;

	icon_name = "page_title" + captionID;
	console.log("icon name: " + icon_name);
	icon = document.getElementById(icon_name);
	console.log(icon);
	icon.innerHTML = newTitle;

	xhr = new XMLHttpRequest();
	//xhr.onreadystatechange = xhrHandler;
	url = '/user/changeTripName?tripID=' + captionID + '&newTitle=' + newTitle;
	console.log(url);
	xhr.open("POST", url, true);
	xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
	xhr.send("");
}


function editTripName() {
	if (!editModeActive) {
		editModeActive = true;
		console.log("in edit Trip Name");
		container = document.getElementById("rename_link");
		container.innerHTML = "";
		captionID = currentTripID;
		console.log("captionID: " + captionID);
		captionIDString = "caption_" + captionID;
		caption = document.getElementById(captionIDString);
		console.log(captionIDString);
	
		editField = document.createElement("input");
		editField.type = 'text';
		editField.id = 'renameField';
		editField.value = caption.innerHTML;
		editField.onkeypress = ChangeTripTitleWrapper;
		editField.style = 'height: 20px; width: 250px; position:relative; top: -5px;';
		container.appendChild(editField);
	
		saveButton = document.createElement("a");
		saveButton.className = 'ui-link';
		saveButton.onclick = ChangeTripTitle;
		saveButton.innerHTML = "save";
		container.appendChild(saveButton);
	}
}    
    
function stopSlides(){
	//$('#products').stop();
	var stop = $('#products').data("stop");
	//console.log($('#products'));
	//console.log($('#products').data);
	//	stop();
	// console.log("here");
 //   	$(".slide").trigger("mouseover");

   	$("#popupBasic").bind({
   		popupafterclose: function(event, ui){
   			console.log("popup closed");
   			$(".slide").mouseleave();
   			
   		}
   	})
   	 clearInterval($('#products').data('interval')); 

   	console.log(current_slide);
   	elem = document.getElementById("slide" + current_slide);
   	
   	tripID = elem.getAttribute("trip-id");
   	currentTripID = tripID;
   	
   	delete_link = document.getElementById("delete_link");
   	delete_link.href = "/user/delete_trip?trip_id=" + tripID;
   	
   	if (current_slide != currentTripID) restoreRenameToPopover();
   	
   	//currentTripID = current_slide;
   	
   	change_cover_link = document.getElementById("change_cover_link");

   	document.getElementById("cover_trip_id").value = elem.getAttribute("trip-id");
   	
   	//change_cover_link.href = "/user/change_trip_cover?trip_id=" + elem.getAttribute("trip-id");
}

changeSlides(3000);

</script>


</body>
</html>