
<!DOCTYPE html> 
<html>

<head>
	<title>VoteCaster | Submit</title> 
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
 	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<%= stylesheet_link_tag "jquery.mobile-1.2.0" %>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "trip_style" %>
    

    <%= javascript_include_tag "jquery-1.8.2.min.js" %>
    <%= javascript_include_tag "jquery.mobile-1.2.0.js" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

    <%= javascript_include_tag "slides.min.jquery.js" %>
	
	
	
	

	

</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<a href="settings.php" class="ui-btn-left">Settings</a>
		<h1>Tripselektor</h1>
		<a href="/trip/add" class="ui-btn-right">New Trip</a>
	</div><!-- /header -->

	<div data-role="content">

	<%= params %>

	<script>
		$(function(){
			console.log("hello")
			$('#products').slides({
				preload: true,
				preloadImage: '/images/loading.gif',
				effect: 'slide, fade',
				crossfade: true,
				slideSpeed: 350,
				fadeSpeed: 500,
				generateNextPrev: true,
				generatePagination: false
			});
		});
	</script>
		<div id="container">
		<div id="products_example">
			<div id="products">
				<div class="slides_container">
					<a href="/trip/layout"><%= image_tag "res/slide-1.jpg", :width=>366, :alt=>"sdf" %></a>
					<a href="/trip/layout"><%= image_tag "1144953-1-2x.jpg", :width=>366, :alt=>"sdf" %></a>
					<a href="/trip/layout"><%= image_tag "res/slide-2.jpg", :width=>366, :alt=>"sdf" %></a>					
					<a href="/trip/layout"><%= image_tag "res/slide-3.jpg", :width=>366, :alt=>"sdf" %></a>
					<a href="/trip/layout"><%= image_tag "res/slide-4.jpg", :width=>366, :alt=>"sdf" %></a>
					<a href="/trip/layout"><%= image_tag "1144953-1-2x.jpg", :width=>366, :alt=>"sdf" %></a>
					<a href="/trip/layout"><%= image_tag "1144953-1-2x.jpg", :width=>366, :alt=>"sdf" %></a>
				</div>
				<ul class="pagination">
					<li><a href="#"><%= image_tag "res/slide-1.jpg", :width=>55, :alt=>"sdf" %></a></li>
					<li><a href="#"><%= image_tag "1144953-1-2x.jpg", :width=>55, :alt=>"sdf" %></a></li>
					<li><a href="#"><%= image_tag "res/slide-2.jpg", :width=>55, :alt=>"sdf" %></a></li>
					<li><a href="#"><%= image_tag "res/slide-3.jpg", :width=>55, :alt=>"sdf" %></a></li>
					<li><a href="#"><%= image_tag "res/slide-4.jpg", :width=>55, :alt=>"sdf" %></a></li>
					<li><a href="#"><%= image_tag "1144953-1-2x.jpg", :width=>55, :alt=>"sdf" %></a></li>
					<li><a href="#"><%= image_tag "1144953-1-2x.jpg", :width=>55, :alt=>"sdf" %></a></li>
				</ul>
			</div>
		</div>
	</div><!-- /content -->
</div><!-- /page -->

</body>
</html>