
<!DOCTYPE html> 
<html>

<head>
	<title>Tripselektor</title> 
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
 	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<%= stylesheet_link_tag "jquery.mobile-1.2.0" %>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "trip_style" %>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <%= javascript_include_tag "jquery-1.8.2.min.js" %>
    <%= javascript_include_tag "jquery.mobile-1.2.0.js" %>
    

    <%= javascript_include_tag "slides.min.jquery.js" %>
	

</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<a href="#" class="ui-btn-left">Settings</a>
		<h1>Tripselektor</h1>
		<a href="/trip/new_trip" class="ui-btn-right">New Trip</a>
	</div><!-- /header -->

	<div data-role="content">
		<h2> Here are your trips! </h2>

	<script>
		$(function(){
			console.log("hello")
			$('#products').slides({
				preload: true,
				preloadImage: '/images/loading.gif',
				effect: 'slide, fade',
				crossfade: true,
				slideSpeed: 350,
				fadeSpeed: 500,
				generateNextPrev: true,
				generatePagination: false,
				slidesLoaded: function() {
					$('.caption').animate({
						bottom:0
					},200);
				}
			});
		});
	</script>
		<div id="container">
		<div id="products_example">
			<div id="products">
				<div class="slides_container">
					<% for trip in @trips %>
					<% link = "/trip/layout/" + trip.id.to_s %>
					<a href=<%=link%>><%= image_tag trip.cover_photo, :width=>366, :alt=>"sdf" %></a>
					<% end %>

				</div>
				<ul class="pagination">
					<% for trip in @trips %>
					<li><a href="#"><%= image_tag trip.cover_photo, :width=>55, :alt=>"sdf" %></a></li>
					
					<% end %>
				</ul>
			</div>
		</div>
	</div><!-- /content -->
</div><!-- /page -->

</body>
</html>