<!DOCTYPE html>
<html>
<head>
  <title>Trip Selektor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="banner" class="body">
            <div id="logo_wrap">
                <a id="logo" href="#" title="VidCard"></a>
            </div>
            <nav>
                <div id="main_nav"></div>
            </nav>
        </header><!-- /#banner -->


<%= yield %>


<footer id="contentinfo" class="body">
            <div id="foot_wrap">
                <div id="foot_wrap_content">
                    <ul>
                        <li><a href="#" rel="external">How It Works</a></li>
                        <li><a href="#" rel="external">FAQ</a></li>
                        <li><a href="#" rel="external">Privacy</a></li>
                        <li><a href="#" rel="external">Terms</a></li>
                        <li><a href="#" rel="external">About</a></li>
                        <li><a href="#" rel="external">Jobs</a></li> 
                        <li><a href="#" rel="external">support@vidcard.com</a></li>
                        <li><a id="facebook" href="#" title="Share VidCard via Facebook"></a></li>
                        <li><a id="twitter" href="#" title="Share VidCard via Twitter"></a></li> 
                        <li><a id="email" href="#" title="Share VidCard via Email"></a></li>
                    </ul>
                </div>
            </div>
        </footer><!-- /#contentinfo -->  

</body>
</html>
