<!DOCTYPE html>
<html>
<head>
  <title>Trip Selektor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="banner" class="body">
            <div id="logo_wrap">
                <a id="logo" href="/splash/" title="VidCard"></a>
            </div>
            <nav>
                <div id="main_nav"></div>
            </nav>
        </header><!-- /#banner -->


<%= yield %>


</body>
</html>
